* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
}

.vencedor {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
}

.player-options img, .enemy-options img {
    max-width: 200px;
    cursor: pointer;
    opacity: 0.3;
}

.player-options , .enemy-options {
    width: 50%;
    text-align: center;
}

.container {
    display: flex;
}